.points-container {
    
}

.progress-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  background-color: #e0e0e0;
  content: "";
  height: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: -1;
}

.circle {
  align-items: center;
  border-radius: 50%;
  border: 2px solid #bbb;
  background-color: #e0e0e0;
  display: flex;
  height: 10px;
  justify-content: center;
  transition: 0.4s ease;
  width: 10px;
  z-index: 1;
}
